@font-face {
  font-family: MontLight;
  src: url(../fonts/Mont-Light.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: MontRegular;
  src: url(../fonts/Mont-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: MontBold;
  src: url(../fonts/Mont-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: MontItalic;
  src: url(../fonts/Mont-LightItalic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: lighthaus;
  src: url(../fonts/lighthaus.ttf);
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
::-ms-reveal {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
select[name] {
  font-weight: 800;
  font-size: 20px;
}
input,
select {
  border: none;
  outline: none;
}
input::-webkit-input-placeholder {
  color: #031412;
  font-size: 20px;
  font-family: MontRegular;
}
input::-moz-placeholder {
  color: #031412;
  font-size: 20px;
  font-family: MontRegular;
}

ul,
li {
  list-style-type: none;
}
body {
  font-family: MontRegular, sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  color: #031412;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: lighthaus;
  font-weight: 400;
}
h1 {
  display: none;
}
h2 {
  font-size: 100px;
  line-height: 74.9%;
  color: #ffffff;
  margin-bottom: 50px;
}
h3 {
  font-size: 50px;
  line-height: 37px;
  text-align: center;
  color: #031412;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}
.headindex {
  background: url(../img/BG.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.logo {
  margin-top: -10px;
}
@keyframes pulse {
  25% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }
}
@mixin hardwareAccel() {
  transform: translateZ(0);
}
.btn {
  width: 327px;
  height: 50px;
  left: 261px;
  top: 613px;
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  font-family: MontBold;
  font-weight: 800;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  align-items: center;
  display: inline-flex;
  justify-content: center;

  @include hardwareAccel();

  &:hover {
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.navigation {
  display: flex;
  align-items: center;
  &__logo {
    padding-top: 44px;
    margin-right: 77px;
  }
  &__nav {
    display: flex;
    align-items: center;
    padding-top: 51px;
    &__list {
      margin-right: 50px;
      a {
        transition: all 275ms ease;
        position: relative;
        &::before {
          content: "";
          width: 100%;
          height: 1px;
          background: linear-gradient(
            65.81deg,
            #5e3928 -24.09%,
            #e4a16f 104.02%
          );
          position: absolute;
          opacity: 0;
          bottom: 0%;
        }
        &:hover {
          background: linear-gradient(
            65.81deg,
            #5e3928 -24.09%,
            #e4a16f 104.02%
          );
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          &::before {
            opacity: 1;
          }
        }
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
.header {
  &__index {
    padding-bottom: 145px;
  }
  &__catalog {
    padding-bottom: 47px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    &__click {
      display: flex;
      li {
        margin-right: 20px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  &__middle {
    padding-bottom: 40px;
    &__line {
      max-width: 623px;
      height: 1px;
      background: linear-gradient(
        90deg,
        #ffffff -0.02%,
        rgba(255, 255, 255, 0) 100.02%
      );
      margin-bottom: 50px;
    }
    &__name {
      max-width: 533px;
      font-size: 50px;
      font-weight: 700;
      line-height: 44px;
      color: #ffffff;
      margin-bottom: 40px;
    }
    &__price {
      color: #ffffff;
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 41px;
      margin-bottom: 71px;
      span {
        font-family: MontLight;
        font-weight: 400;
        margin-right: 109px;
      }
    }
    &__squared {
      display: flex;
      margin-bottom: 55px;
      &-squ {
        width: 12px;
        height: 12px;
        background: #ffffff;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
          background: linear-gradient(
            65.81deg,
            #5e3928 -24.09%,
            #e4a16f 104.02%
          );
        }
      }
    }
    button {
      margin-bottom: 71px;
    }
  }
}
.activesqu {
  background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
}
.switch {
  &__left {
    left: 0%;
    position: absolute;
    top: 50%;
    transition: all 275ms ease;
    svg {
      &:hover {
        rect {
          fill: url(#paint0_linear_23_486);
          stroke: none;
        }
        path {
          fill: #fff;
        }
      }
    }
  }
  &__right {
    right: 0%;
    position: absolute;
    top: 50%;
    transition: all 275ms ease;
    svg {
      &:hover {
        rect {
          fill: url(#paint0_linear_23_487);
          stroke: none;
        }
        path {
          fill: #fff;
        }
      }
    }
  }
}
.products {
  padding: 80px 0px;
  &__product {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      justify-content: end;
      img {
        box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
      }
      &:hover {
        transition: 0.5s;
        p {
          font-family: MontBold;
        }
      }
      &-name {
        position: absolute;
        font-size: 30px;
        max-width: 357px;
        text-align: center;
        padding-bottom: 27px;
      }
    }
  }
}

.sale {
  background: url(../img/sale.jpg);
  background-position: center center;
  background-size: cover;
  padding: 80px 0px;
  position: relative;
}
.sales {
  text-align: center;
  &__group {
    &__block {
      position: relative;
      width: 446px;
      margin: 0 15px;
      img {
        margin-bottom: 36px;
        &:hover {
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
        }
      }
      &-text {
        display: flex;
        justify-content: space-between;
        align-items: end;
        p {
          max-width: 212px;
          font-size: 20px;
          color: #031412;
          line-height: 19px;
          text-align: start;
        }
        span {
          font-family: MontBold;
          font-weight: 800;
          font-size: 30px;
          color: #031412;
          line-height: 29px;
        }
      }
      &-sale {
        position: absolute;
        top: 27px;
        left: 0%;
      }
      &-heart {
        z-index: 2;
        right: 0%;
        width: 50px;
        height: 63px;
        background-color: #fff;
        position: absolute;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
        svg {
          &:hover {
            path {
              fill: url(#paint0_linear_35_404);
            }
          }
        }
      }
    }
  }
}
.new {
  padding: 80px 0 82px 0;
  position: relative;
}
.del {
  position: relative;
  p {
    position: absolute;
    display: flex;
    font-family: MontRegular;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #031412;
    opacity: 0.3;
    top: -25px;
    right: 0%;
    &::before {
      content: "";
      border-bottom: 1px solid #031412;
      position: absolute;
      width: 95px;
      transform: rotate(13.8deg);
      top: 7px;
      left: -7%;
    }
  }
}
.promotion {
  background: url(../img/Frame1+1.jpg);
  background-position: center center;
  background-size: cover;
  padding: 80px 0 97px 0;
}
.promo {
  color: #fff;
  &__move {
    font-family: Lighthaus;
    font-size: 140px;
    line-height: 105px;
    margin-bottom: 50px;
  }
  &__text {
    font-family: MontRegular;
    font-weight: 600;
    font-size: 35px;
    line-height: 34px;
    max-width: 533px;
    margin-bottom: 50px;
  }
}

.reviews {
  position: relative;
  padding: 80px 0;
}
.review {
  &__about {
    &__people {
      background-image: url(../img/bgpeople.svg);
      background-size: contain;
      background-repeat: no-repeat;
      padding: 21px 40px 18px 30px;
      max-width: 446px;
      height: 332px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      margin: 0 15px;
      img {
        margin-bottom: 18px;
      }
      &-name {
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;
        margin-bottom: 18px;
      }
      &-text {
        font-family: MontItalic;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 18px;
      }
      &-date {
        font-family: MontBold;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}
.choose {
  &__us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 49px;
    &__option {
      max-width: 327px;
      &:first-child {
        margin-bottom: 24px;
      }

      &-image {
        margin-bottom: 24px;
      }
      &-name {
        font-family: MontBold;
        font-weight: 800;
        font-size: 20px;
        line-height: 19px;
        margin-bottom: 15px;
      }
      &-text {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 15px;
      }
      button {
        background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        display: flex;
        align-items: center;
        svg {
          margin-left: 7px;
        }
      }
    }
  }
}
footer {
  padding: 79px 0;
  background-image: url(../img/Footer.jpg);
  background-size: cover;
  position: relative;
}
.foot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__info {
    &__protect {
      max-width: 200px;
    }
    li {
      color: #adadad;
      margin-bottom: 20px;
      &:first-child {
        margin-bottom: 25px;
      }
      a {
        font-size: 14px;
        position: relative;
        font-family: MontLight;
        &::before {
          content: "";
          border-bottom: 1px solid #ffffff;
          width: 100%;
          position: absolute;
          bottom: 0%;
        }
      }
    }
  }
  &__nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 633px;
    flex-wrap: wrap;
    &__navigation {
      li {
        margin-bottom: 15px;
        font-size: 14px;
        font-family: MontLight;
        line-height: 19px;
        &:first-child {
          font-weight: 800;
          font-size: 18px;
          font-family: MontBold;
        }
        &:last-child {
          margin-bottom: 0px;
        }
        a {
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &-social {
        display: flex;
        width: 85px;
        justify-content: space-between;
        svg {
          &:hover {
            path {
              fill: url(#paint0_linear_35_405);
            }
          }
        }
      }
    }
  }
}
.btnup {
  position: absolute;
  right: 5%;
  height: 127px;
  bottom: 0%;
  &__small {
    bottom: 0%;
  }
  &__big {
    display: none;
    bottom: 0%;
  }
}
#burger,
[for="burger"] {
  display: none;
}
.roster {
  text-align: center;
  &__nav {
    justify-content: center;
    display: flex;
    margin-bottom: 140px;
    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  &__list {
    font-size: 30px;
    line-height: 63px;
  }
}
nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(92.18deg, #e4a16f 20.13%, #5e3928 92.93%);
  z-index: 3;
}
.headcatalog {
  background: url(../img/headcatalog.jpg);
  background-size: cover;
}
.chief {
  padding: 31px 0 40px 0;
}
.home {
  color: #000;
  font-weight: 18px;
  &__main {
    color: #000;
  }
  &__catalog {
    color: #000;
    font-family: MontBold;
    font-weight: 800;
  }
  h3 {
    padding: 23px 0 31px 0;
    text-align: start;
  }
}
.catalog-line {
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}
.catgroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  &__block {
    position: relative;
    width: 327px;
    min-height: 147px;
    display: flex;
    justify-content: center;
    &__image2 {
      display: none;
    }
    p {
      position: absolute;
      font-size: 20px;
      bottom: 20px;
    }
    &:hover {
      p {
        font-family: MontBold;
      }
    }
  }
}
.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  &__scan {
    position: relative;
    width: 209px;
    height: 29px;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: #031412;
      position: absolute;
      bottom: 0%;
      left: 0%;
    }
    input {
      width: 190px;
      height: 29px;
    }
    button {
      position: absolute;
      right: 0%;
      top: 4px;
    }
  }
  &__sort {
    label {
      margin-right: 18px;
      font-size: 20px;
      line-height: 19px;
    }
  }
}
.catsales {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 54px;
  &__block {
    margin: 0;
  }
  &__block1 {
    margin-bottom: 44px;
  }
}
.numbers {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  &__numb {
    width: 38px;
    height: 48px;
    border: 1px solid #b3b9b8;
    color: #b3b9b8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: MontBold;
    margin-right: 9px;
    cursor: pointer;
    &:last-child {
      margin-right: 0px;
    }
    &:hover {
      background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
      color: #fff;
      path {
        fill: #fff;
      }
    }
  }
  &__numb.active {
    background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    color: #fff;
  }
}

@media (max-width: 1580px) {
  .container {
    max-width: 1441px;
  }
  header {
    .switch {
      &__right {
        top: 15%;
      }
      &__left {
        top: 15%;
      }
    }
  }
  .switch {
    &__right {
      top: 10%;
    }
    &__left {
      top: 10%;
    }
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: 1281px;
  }
  .products {
    &__product {
      &__block {
        max-width: 388px;
        img {
          width: 100%;
        }
      }
    }
  }
  .sales {
    &__group {
      &__block {
        width: 400px;
        img {
          width: 100%;
        }
      }
    }
  }
  .choose {
    &__us {
      &__option4 {
        margin-bottom: 24px;
      }
    }
  }
  .review {
    &__about {
      &__people {
        width: 400px;
        margin: 0 15px;
      }
    }
  }
  .catgroup {
    &__block {
      width: 300px;
      &__image1 {
        width: 317px;
      }
    }
    &__block1 {
      margin-bottom: 30px;
    }
  }
  .catsales {
    &__block {
      margin-bottom: 27px;
    }
    &__block3 {
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1025px;
  }
  .sales {
    &__group {
      &__block {
        width: 313px;
        margin: 0 16px;
        img {
          width: 100%;
        }
      }
    }
  }
  .header {
    &__top {
      &__nav {
        li {
          margin-right: 50px;
        }
        &-list {
          margin-right: 20px;
        }
      }
    }
  }
  .products {
    &__product {
      &__block {
        max-width: 300px;
        img {
          width: 100%;
        }
      }
    }
  }
  .review {
    &__about {
      &__people {
        width: 315px;
        margin: 0 12px;
      }
    }
  }
  .catsales {
    &__block {
      margin: 0px;
      margin-bottom: 27px;
    }
    p {
      max-width: 168px;
    }
    span {
      font-size: 30px;
    }
  }
  .catgroup {
    &__block {
      width: 340px;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 961px;
  }
  h2 {
    font-size: 60px;
  }
  .header {
    &__index {
      padding-bottom: 243px;
    }
    &__middle {
      &__name {
        font-size: 30px;
        max-width: 300px;
      }
      &__price {
        font-size: 24px;
      }
    }
  }
  .switch {
    display: none;
  }
  .navigation {
    &__nav {
      position: absolute;
      top: 70px;
      padding-left: 52px;
    }
  }
  .sales {
    &__group {
      &__block {
        width: 427px;
        margin: 0px 18px;
        img {
          width: 100%;
        }
        &-text {
          &-name {
            max-width: 168px;
          }
        }
      }
    }
  }
  .review {
    &__about {
      &__people {
        width: 450px;
        margin: 0 20px;
      }
    }
  }
  .catsales {
    &__block {
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .header {
    &__catalog {
      padding-bottom: 75px;
    }
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 689px;
  }
  .home {
    h3 {
      font-size: 60px;
    }
  }
  .sales {
    &__group {
      &__block {
        width: 320px;
        margin: 0px 10px;
        img {
          width: 100%;
        }
        &-text{
          p{
          max-width: 168px;  
          }
        }
      }
    }
  }
  .products {
    &__product {
      &__block {
        width: 213px;
        &-name {
          font-size: 20px;
          max-width: 191px;
          padding-bottom: 17px;
        }
      }
    }
  }
  .review {
    &__about {
      &__people {
        width: 324px;
        margin: 0 10px;
        &-text {
          font-weight: 100;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }
  .choose {
    &__us {
      &__option {
        max-width: 324px;
      }
    }
  }
  .header__middle > .btn {
    margin-bottom: 207px;
  }
  .headindex {
    background: url(../img/Banner.jpg);
    background-position: center center;
    background-size: cover;
  }
  .promotion {
    background: url(../img/5.jpg);
    background-size: cover;
  }
  .promo {
    &__move {
      font-size: 100px;
    }
    &__text {
      font-size: 20px;
      max-width: 306px;
      line-height: 19px;
    }
  }
  h3 {
    font-size: 40px;
  }
  footer {
    background: url(../img/footer768.jpg);
    background-size: cover;
  }
  .btnup {
    &__big {
      display: flex;
      bottom: 0%;
      right: 5%;
      position: absolute;
    }
    &__small {
      display: none;
    }
  }
  .foot {
    &__info {
      &__protect {
        width: 100%;
      }
    }
  }
  .headcatalog {
    background: url(../img/catfoot769.jpg);
    background-size: cover;
  }
  .catgroup {
    &__block {
      width: 317px;
    }
  }
  .catsales {
    &__block {
      margin: 0;
      margin-bottom: 26px;
      img {
        width: 324px;
        height: 390px;
        margin-bottom: 28px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .search {
    margin-bottom: 30px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 577px;
  }
  .navigation {
    &__nav {
      &__list {
        margin-right: 30px;
      }
    }
  }
  .products {
    &__product {
      &__block {
        max-width: 160px;
        &-name {
          font-size: 12px;
        }
      }
    }
  }
  .sales {
    &__group {
      &__block {
        width: 255px;
        margin: 0 15px;
        &-text {
          p {
            font-size: 15px;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
  .review {
    &__about {
      &__people {
        max-width: 256px;
      }
    }
  }
  .choose {
    &__us {
      &__option {
        max-width: 235px;
      }
    }
  }
  .catsales {
    justify-content: center;
    margin-bottom: 17px;
    &__block {
      margin-bottom: 16px;
      width: 290px;
      height: 466px;
      &:last-child {
        margin-bottom: 0px;
      }
      img {
        width: 290px;
        height: 390px;
        margin-bottom: 13px;
      }
    }
  }
  .del {
    p {
      top: -12px;
      &::before{
        width: 70px;
      }
    }
  }
  .catgroup {
    margin-bottom: 21px;
    &__block {
      width: 135px;
      height: 148.62px;
      p{
        font-size: 12px;
      }
      &__image1 {
        display: none;
      }
      &__image2 {
        display: flex;
        width: 135px;
        height: 148.62px;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 310px;
  }
  [for="burger"] {
    display: block;
    position: fixed;
    text-align: center;
    right: 0%;
    top: 28px;
    width: 50px;
    height: 36px;
    z-index: 4;
    &::before {
      padding: 7px 30px;
      content: "";
      background-image: url(../img/burger.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  #burger:checked + label + nav {
    display: block;
    animation: show 0.5s ease;
  }
  #burger:checked + [for="burger"]::before {
    content: "";
    background-image: url(../img/cancel.svg);
  }
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .shopping {
    svg {
      path {
        fill: black;
      }
    }
  }
  .navigation {
    &__nav {
      display: none;
    }
    &__logo {
      margin-right: 30px;
      padding-top: 30px;
      img {
        max-width: 115px;
      }
    }
  }
  .header {
    &__index {
      padding-bottom: 55px;
    }
    &__top {
      justify-content: unset;
      &__click {
        li {
          svg {
            width: 35px;
            height: 61px;
          }
        }
      }
    }
    &__middle {
      &__line {
        margin-bottom: 15px;
      }
      &__price {
        span {
          margin-right: 49px;
        }
      }
    }
  }
  .header__middle > .btn {
    width: 155px;
    height: 50px;
  }
  .love {
    display: none;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 24px;
  }
  .products {
    &__product {
      padding-top: 39px;
      &__block {
        max-width: 135px;
        &-name {
          max-width: 110px;
          line-height: 12px;
        }
      }
    }
  }
  .products {
    padding: 39px 0;
  }
  .sale {
    padding: 40px 0;
  }
  .sales {
    &__group {
      padding-top: 23px;
      &__block {
        width: 290px;
        height: 466px;
        margin: 0px;
        img {
          height: 390px;
          object-fit: cover;
          object-position: center;
          margin-bottom: 13px;
        }
        &-text {
          align-items: center;
          p {
            font-weight: 500;
            font-size: 20px;
          }
          span {
            font-weight: 800;
            font-size: 20px;
          }
        }
      }
    }
  }
  .btn {
    width: 290px;
    height: 50px;
  }
  .new {
    padding: 41px 0 35px 0;
  }
  .promo {
    &__move {
      font-size: 60px;
      line-height: 45px;
      margin-bottom: 20px;
    }
    &__text {
      line-height: 13px;
      font-size: 14px;
      margin-bottom: 18px;
    }
  }
  .promotion {
    padding-top: 50px;
  }
  .reviews {
    padding: 40px 0;
  }
  .review {
    h3 {
      margin-bottom: 24px;
    }
    &__about {
      &__people {
        max-width: 290px;
        padding: 21px 30px 25px 19px;
        margin: 0px;
        &-text {
          font-size: 12px;
        }
      }
    }
  }
  .choose {
    &__us {
      padding-top: 27px;
      &__option {
        max-width: 135px;
        &-image {
          width: 50px;
          height: 50px;
        }
        &-name {
          font-size: 16px;
        }
        &-text {
          font-size: 12px;
        }
      }
    }
  }
  footer {
    padding: 40px 0;
  }
  .foot {
    &__info {
      margin-bottom: 28px;
      li {
        margin-bottom: 6px;
        a {
          font-size: 12px;
        }
        &:first-child {
          margin-bottom: 17px;
        }
      }
      &__protect {
        font-size: 12px;
        max-width: 290px;
      }
    }
    &__nav {
      &__navigation {
        &:first-child {
          margin-bottom: 33px;
        }
        li {
          &:first-child {
            font-size: 16px;
            margin-bottom: 16px;
          }
        }
      }
      &__navigation2 {
        order: 1;
      }
    }
  }
  .search{
    display: block;
    margin-bottom: 20px;
    &__scan{
      width: 290px;
      margin-bottom: 20px;
      input{

      }
    }
  }
  .catsales{
    padding-top:0px;
    &__block{
      margin-bottom: 16px;
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
}

@media (max-width: 420px) {
  .headindex {
    background: url(../img/Banner320.jpg);
    background-size: cover;
  }
  .promotion {
    background: url(../img/320.jpg);
    background-size: cover;
    padding-bottom: 390px;
  }
  footer {
    background: url(../img/footer320.jpg);
    background-size: cover;
  }
}

@media (max-width: 375px) {
  .promotion {
    padding-bottom: 320px;
  }
}

@media (max-width: 320px) {
  .promotion {
    padding-bottom: 273px;
  }
}
