@font-face {
  font-family: MontLight;
  src: url(../fonts/Mont-Light.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: MontRegular;
  src: url(../fonts/Mont-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: MontBold;
  src: url(../fonts/Mont-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: MontItalic;
  src: url(../fonts/Mont-LightItalic.ttf);
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: lighthaus;
  src: url(../fonts/lighthaus.ttf);
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
::-ms-reveal {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
body {
  font-family: MontRegular, sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  color: #031412;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: lighthaus;
  font-weight: 400;
}
h1 {
  display: none;
}
h2 {
  font-size: 100px;
  line-height: 74.9%;
  color: #ffffff;
  margin-bottom: 50px;
}
h3 {
  font-size: 50px;
  line-height: 37px;
  text-align: center;
  color: #031412;
}
input {
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}
header {
  background: url(../img/BG.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.logo {
  margin-top: -10px;
}
@keyframes pulse {
  25% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }
}
@mixin hardwareAccel() {
  transform: translateZ(0);
}
.btn {
  width: 327px;
  height: 50px;
  left: 261px;
  top: 613px;
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  font-family: MontBold;
  font-weight: 800;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  align-items: center;
  display: inline-flex;
  justify-content: center;

  @include hardwareAccel();

  &:hover {
    animation-name: pulse;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.header {
  &__top {
    display: flex;
    justify-content: space-between;
    &__nav {
      display: flex;
      align-items: center;
      padding-top: 44px;
      padding-bottom: 145px;
      li {
        margin-right: 50px;
        a {
          transition: all 275ms ease;
          &:hover {
            background: linear-gradient(
              65.81deg,
              #5e3928 -24.09%,
              #e4a16f 104.02%
            );
            background-clip: text;
            color: transparent;
          }
        }
        &:first-child {
          margin-right: 77px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
    &__click {
      display: flex;
      li {
        margin-right: 20px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  &__middle {
    padding-bottom: 40px;
    &__line {
      width: 623px;
      height: 1px;
      background: linear-gradient(
        90deg,
        #ffffff -0.02%,
        rgba(255, 255, 255, 0) 100.02%
      );
      margin-bottom: 50px;
    }
    &__name {
      max-width: 533px;
      font-size: 50px;
      font-weight: 700;
      line-height: 44px;
      color: #ffffff;
      margin-bottom: 40px;
    }
    &__price {
      color: #ffffff;
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 41px;
      margin-bottom: 71px;
      span {
        font-family: MontLight;
        font-weight: 400;
        margin-right: 109px;
      }
    }
    &__squared {
      display: flex;
      margin-bottom: 55px;
      &-squ {
        width: 12px;
        height: 12px;
        background: #ffffff;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
          background: linear-gradient(
            65.81deg,
            #5e3928 -24.09%,
            #e4a16f 104.02%
          );
        }
      }
    }
    button {
      margin-bottom: 71px;
    }
  }
}

.switch {
  &__left {
    left: 0%;
    position: absolute;
    top: 50%;
    svg {
      &:hover {
        rect {
          fill: url(#paint0_linear_23_486);
          stroke: none;
        }
        path {
          fill: #fff;
        }
      }
    }
  }
  &__right {
    right: 0%;
    position: absolute;
    top: 50%;
    svg {
      &:hover {
        rect {
          fill: url(#paint0_linear_23_487);
          stroke: none;
        }
        path {
          fill: #fff;
        }
      }
    }
  }
}
.products {
  padding: 80px 0px;
  h3 {
    margin-bottom: 46px;
  }
  &__product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      justify-content: end;
      img {
        box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
      }
      &:hover {
        transition: 0.5s;
        transform: scale(1.01);
      }
      p {
        position: absolute;
        font-size: 30px;
        max-width: 357px;
        text-align: center;
        padding-bottom: 27px;
      }
    }
  }
}
.sale {
  background: url(../img/sale.jpg);
  background-position: center center;
  background-size: cover;
  padding: 80px 0px;
  position: relative;
}
.sales {
  text-align: center;
  h3 {
    margin-bottom: 46px;
  }
  &__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 45px;
    &__block {
      position: relative;
      img {
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
        margin-bottom: 36px;
      }
      &-text {
        display: flex;
        justify-content: space-between;
        align-items: end;
        p {
          max-width: 212px;
          font-size: 20px;
          color: #031412;
          line-height: 19px;
          text-align: start;
        }
        span {
          font-family: MontBold;
          font-weight: 800;
          font-size: 30px;
          color: #031412;
          line-height: 29px;
        }
      }
      &-sale {
        position: absolute;
        top: 27px;
        left: 0%;
      }
      &-heart {
        right: 0%;
        width: 50px;
        height: 63px;
        background-color: #fff;
        position: absolute;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
        svg {
          &:hover {
            path {
              fill: url(#paint0_linear_35_404);
            }
          }
        }
      }
    }
  }
}
.salesqu {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
  &__squ {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: #031412;
    margin-right: 10px;
    &:hover {
      background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}
.activesqu {
  background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
}
.new {
  padding: 80px 0 82px 0;
  position: relative;
}
.del {
  position: relative;
  p {
    position: absolute;
    display: flex;
    font-family: MontRegular;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #031412;
    opacity: 0.3;
    top: -25px;
    right: 0%;
    &:before {
      content: "";
      border-bottom: 1px solid #031412;
      position: absolute;
      width: 95px;
      transform: rotate(13.8deg);
      top: 7px;
      left: -7%;
    }
  }
}
.promotion {
  background: url(../img/Frame1+1.jpg);
  background-position: center center;
  background-size: cover;
  padding: 80px 0 97px 0;
}
.promo {
  color: #fff;
  &__move {
    font-family: Lighthaus;
    font-size: 140px;
    line-height: 105px;
    margin-bottom: 50px;
  }
  &__text {
    font-family: MontRegular;
    font-weight: 600;
    font-size: 35px;
    line-height: 34px;
    max-width: 533px;
    margin-bottom: 50px;
  }
}

.reviews {
  position: relative;
  padding: 80px 0;
}
.review {
  h3 {
    margin-bottom: 40px;
  }
  &__about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__people {
      background-image: url(../img/bgpeople.svg);
      background-size: contain;
      padding: 21px 40px 18px 30px;
      width: 446px;
      height: 332px;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
      img {
        margin-bottom: 18px;
      }
      &-name {
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;
        margin-bottom: 18px;
      }
      &-text {
        font-family: MontItalic;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 18px;
      }
      &-date {
        font-family: MontBold;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}
.choose {
  h3 {
    margin-bottom: 49px;
  }
  &__us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__option {
      max-width: 327px;
      &:first-child {
        margin-bottom: 24px;
      }

      &-image {
        margin-bottom: 24px;
      }
      &-name {
        font-family: MontBold;
        font-weight: 800;
        font-size: 20px;
        line-height: 19px;
        margin-bottom: 15px;
      }
      &-text {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 15px;
      }
      button {
        background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
        background-clip: text;
        color: transparent;
        display: flex;
        align-items: center;
        svg {
          margin-left: 7px;
        }
      }
    }
  }
}
footer {
  padding: 79px 0;
  background-image: url(../img/Footer.jpg);
  background-size: cover;
}
.foot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__info {
    li {
      color: #adadad;
      margin-bottom: 20px;
      &:first-child {
        margin-bottom: 25px;
      }
      a {
        font-size: 14px;
        position: relative;
        font-family: MontLight;
        &::before {
          content: "";
          border-bottom: 1px solid #ffffff;
          width: 229px;
          position: absolute;
          bottom: 0%;
        }
      }
    }
  }
  &__nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 633px;
    flex-wrap: wrap;
    &__navigation {
      li {
        margin-bottom: 15px;
        font-size: 14px;
        font-family: MontLight;
        &:first-child {
          font-weight: 800;
          font-size: 18px;
          font-family: MontBold;
        }
        &:last-child {
          margin-bottom: 0px;
        }
        a {
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &-social {
        display: flex;
        width: 85px;
        justify-content: space-between;
        svg {
          &:hover {
            path {
              fill: url(#paint0_linear_35_405);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 420px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
